@{
  Layout = "_Layout";
}

@model PlantSwap.Models.Plant

<h2>Add an offer</h2>

<h4>Add an offer to @Html.DisplayFor(model => model.CommonName)</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PlantId)

  @Html.Label("Select trader")
  @Html.DropDownList("traderId", new SelectList(@ViewBag.Traders, "TraderId", "TraderHandle"))
  <br>
  @Html.Label("Is this a cutting?")
  @Html.CheckBox("isCutting", false)
  <br>
	@Html.Label("Listing Date")
	@Html.TextBox("listingDate")
  <br>
	@Html.Label("What plant will you accept for this?")
	@Html.DropDownList("exchangeId", new SelectList(@ViewBag.Plants, "PlantId", "CommonName"))
  <br>
	@Html.Label("Would you accept an imperfect match?")
	@Html.CheckBox("imperfectMatch", false)
  <br>
	@Html.Label("What is the max distance you are willing to travel?")
	@Html.TextBox("maxDistance")
  <br>
  <input type="submit" value="Save" />
}
<hr>
<p>@Html.ActionLink("Create new plant", "Create", "Plants")</p>