@{
  Layout = "_Layout";
}

@model PlantSwap.Models.Plant

<h2>Add a request</h2>

<h4>Add a request to @Html.DisplayFor(model => model.CommonName)</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<div class="form-entry">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.PlantId)

    @Html.Label("Select trader")
    @Html.DropDownList("traderId", new SelectList(@ViewBag.Traders, "TraderId", "TraderHandle"), new { @class = "form" })
    <br>

    @Html.Label("Listing Date")
    @Html.TextBox("listingDate", "", new { @class = "form" })
    <br>

    @Html.Label("What plant would you trade for this?")
    @Html.DropDownList("exchangeId", new SelectList(@ViewBag.Plants, "PlantId", "CommonName"), new { @class = "form" })
    <br>

    @Html.Label("What plant would you trade for this? We know it's goofy but please enter it again. Be sure to select the same plant.")
    @Html.DropDownList("exchangeCommonName", new SelectList(@ViewBag.Plants, "CommonName", "CommonName"), new { @class = "form" })
    <br>

    @Html.Label("Is this a cutting?")
    @Html.CheckBox("isCutting", false, new { @class = "form" })
    <br>

    @Html.Label("What is the max distance you are willing to travel to complete this trade?")
    @Html.TextBox("maxDistance", "", new { @class = "form" })
    <br>

    <input type="submit" class="button" value="Save" />
  }
</div>