@{
  Layout = "_Layout";
}

@model PlantSwap.Models.Plant;

<h2>Plant Details</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.CommonName): @Html.DisplayFor(model => model.CommonName)</h4>
<h4>@Html.DisplayNameFor(model => model.Genus): @Html.DisplayFor(model => model.Genus)</h4>
<h4>@Html.DisplayNameFor(model => model.Species): @Html.DisplayFor(model => model.Species)</h4>
<h4>@Html.DisplayNameFor(model => model.Variety): @Html.DisplayFor(model => model.Variety)</h4>
<hr />

@if(@Model.OfferJoinEntity.Count == 0)
{
  <h4>No offers of @Html.DisplayFor(model => model.CommonName) are currently available.</h4>
}
else
{
  <h4>Offers available for @Html.DisplayFor(model => model.CommonName)</h4>
  <ul>
  @foreach(var join in Model.OfferJoinEntity)
  {
    <h5>In exchange for: the plant with ID #@join.WillAcceptPlantId.</h5>
    <p>From: @join.Trader.TraderHandle</p>

    if(@join.IsCutting == true)
    {
      <p>This offer is a cutting</p>
    }

    if(@join.ImperfectMatch == true)
    {
      <p>@join.Trader.TraderHandle *will* consider other plants in exchange for their @Html.DisplayFor(model => model.CommonName)</p>
    }

    <p>Listing date: @join.ListingDate</p>
    <p>Maximum miles for this offer: @join.MaxDistance</p>
    @using (Html.BeginForm("DeleteOffer", "Plants"))
    {
      @Html.Hidden("joinId", @join.OfferId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<hr />

@if(@Model.RequestJoinEntity.Count == 0)
{
  <h4>No requests are currently made for @Html.DisplayFor(model => model.CommonName).</h4>
}
else
{
  <h4>Requests for @Html.DisplayFor(model => model.CommonName):</h4>
  <ul>
  @foreach(var join in Model.RequestJoinEntity)
  {
    <h5>In exchange for: the plant with ID #@join.HaveToOfferPlantId.</h5>
    <li>From: @join.Trader.TraderHandle</li>

    if(@join.IsCutting == true)
    {
      <p>This offer is a cutting</p>
    }

    <p>Listing date: @join.ListingDate</p>
    <p>Maximum miles for this offer: @join.MaxDistance</p>
    @using (Html.BeginForm("DeleteRequest", "Plants"))
    {
      @Html.Hidden("joinId", @join.RequestId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add an Offer", "AddOffer", new { id = Model.PlantId })</p>
<p>@Html.ActionLink("Add a Request", "AddRequest", new { id = Model.PlantId })</p>
<p>@Html.ActionLink("Edit Plant", "Edit", new { id = Model.PlantId })</p>
<p>@Html.ActionLink("Delete Plant", "Delete", new { id = Model.PlantId })</p>
<p>@Html.ActionLink("Back to Plants", "Index")</p>