@{
  Layout = "_Layout";
}

@model PlantSwap.Models.Plant;

<h2>Plant Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CommonName): @Html.DisplayFor(model => model.CommonName)</h3>
<h3>@Html.DisplayNameFor(model => model.Genus): @Html.DisplayFor(model => model.Genus)</h3>
<h3>@Html.DisplayNameFor(model => model.Species): @Html.DisplayFor(model => model.Species)</h3>
<h3>@Html.DisplayNameFor(model => model.Variety): @Html.DisplayFor(model => model.Variety)</h3>

@if(@Model.OfferJoinEntity.Count == 0)
{
  <p>No offers of this plant are currently available.</p>
}
else
{
  <h4>Offers available for this plant:</h4>
  <ul>
  @foreach(var join in Model.OfferJoinEntity)
  {
    <li>@join.Trader.TraderHandle</li>
//Need conditional if Cutting, ImperfectMatch are true
    <p>Listing date: @join.ListingDate</p>
    <p>Maximum distance in miles for trading: @join.MaxDistance</p>
    @using (Html.BeginForm("DeleteOffer", "Plants"))
    {
      @Html.Hidden("joinId", @join.OfferId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

@if(@Model.RequestJoinEntity.Count == 0)
{
  <p>No requests are currently made for this plant.</p>
}
else
{
  <h4>Requests for this plant:</h4>
  <ul>
  @foreach(var join in Model.RequestJoinEntity)
  {
    <li>@join.Trader.TraderHandle</li>
//Need conditional if Cutting, ImperfectMatch are true
    <p>Listing date: @join.ListingDate</p>
    <p>Maximum distance in miles for trading: @join.MaxDistance</p>
    @using (Html.BeginForm("DeleteRequest", "Plants"))
    {
      @Html.Hidden("joinId", @join.RequestId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add an Offer", "AddOffer", new { id = Model.PlantId })</p>
<p>@Html.ActionLink("Add a Request", "AddRequest", new { id = Model.PlantId })</p>
<p>@Html.ActionLink("Edit Plant", "Edit", new { id = Model.PlantId })</p>
<p>@Html.ActionLink("Delete Plant", "Delete", new { id = Model.PlantId })</p>
<p>@Html.ActionLink("Back to Plants", "Index")</p>