@{
  Layout = "_Layout";
}

@model PlantSwap.Models.Trader

<h2>Add an offer</h2>

<h4>Add an offer from @Html.DisplayFor(model => model.TraderHandle)</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TraderId)

  @Html.Label("Select plant")
  @Html.DropDownList("plantOfferedId", new SelectList(@ViewBag.Plants, "PlantId", "CommonName"), new { @class = "form" })
  <br>

  @Html.Label("Is this a cutting?")
  @Html.CheckBox("isCutting", false, new { @class = "form" })
  <br>

	@Html.Label("Listing Date")
	@Html.TextBox("listingDate", "", new { @class = "form" })
  <br>

	@Html.Label("What plant will you accept for this?")
	@Html.DropDownList("exchangeId", new SelectList(@ViewBag.Plants, "PlantId", "CommonName"), new { @class = "form" })
  <br>

	@Html.Label("", "What plant will you accept for this? We know it's goofy but please enter it again. Be sure to select the same plant.")
	@Html.DropDownList("exchangeCommonName", new SelectList(@ViewBag.Plants, "CommonName", "CommonName"), new { @class = "form" })
  <br>

	@Html.Label("Would you accept an imperfect match?")
	@Html.CheckBox("imperfectMatch", false, new { @class = "form" })
  <br>

	@Html.Label("What is the max distance you are willing to travel to complete this trade?")
	@Html.TextBox("maxDistance", "", new { @class = "form" })
  <br>
  <input type="submit" value="Save" />
}